{% extends "::base.html.twig" %}

{% block title %}bibliotecaBundle:Acervo:show{% endblock %}
{% block stylesheets %}{{ include('header.html.twig') }}{% endblock %}
{% block body %}

    {{ include('menu.html.twig') }}
    {{ include('side-menu.html.twig') }}

    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
        <!-- /.col -->
    </div><!-- /.row -->

    {{ include('footer.html.twig') }}
{% endblock %}
{% block javascripts %}{{ include('js.html.twig') }}{% endblock %}